RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=[...]
RABBITMQ_USER=user
RABBITMQ_PASS=[...]
RABBITMQ_HOST=rabbitmq:5672

RABBITMQ_AUTH_QUEUE=auth_queue

POSTGRES_USER=user
POSTGRES_PASSWORD=[...]
POSTGRES_DB=bookishdb
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=drow-ranger@email.com
PGADMIN_DEFAULT_PASSWORD=[...]

JWT_SECRET=[...]

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@host.docker.internal:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public&connect_timeout=300
